name: Build application

on: [push, pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup environment
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install ninja-build
        sudo apt-get install texlive*
    - name: Build
      run: |
        mkdir build
        cmake -G Ninja -S . -B build -D USE_LATEX=ON
        cmake --build build
      shell: bash
    - uses: actions/upload-artifact@v4
      with:
        name: ubuntu-artifacts
        path: build/bin/
  windows-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Install ninja-build tool
      uses: seanmiddleditch/gha-setup-ninja@v4
    - name: Setup environment
      run: |
        choco install miktex --no-progress
        echo "C:\Program Files\MiKTeX\miktex\bin\x64" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8
    - name: Build
      run: |
        refreshenv
        mkdir build
        cmake -G Ninja -S . -B build -D USE_LATEX=ON
        cmake --build build
      shell: bash
    - uses: actions/upload-artifact@v4
      with:
        name: windows-artifacts
        path: build/bin/
