name: Build application

on: [push, pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup environment
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install texlive*
    - name: Build
      run: |
        mkdir build
        cd build
        cmake -D USE_LATEX=ON  ..
        cmake --build . 
        cd ..
      shell: bash
    - uses: actions/upload-artifact@v4
      with:
        name: ubuntu-artifacts
        path: build/bin/
  windows-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Build
      run: |
        powershell -file "scripts\miktex_install.ps1"
        refreshenv
        mkdir build
        cd build
        cmake -D USE_LATEX=ON  ..
        cmake --build .
        cd ..
    - uses: actions/upload-artifact@v4
      with:
        name: windows-artifacts
        path: build/bin/
